<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
	</configSections>

  <system.net>
    <mailSettings>
      <smtp from="ankai@list.ru">
        <network host="smtp.list.ru" password="***" userName="ankai@list.ru" />
      </smtp>
    </mailSettings>
  </system.net>
  
	<appSettings>
		<add key="export" value="false" />
		<add key="installData" value="false" />
		<add key="nameData" value="TTK" />
		<add key="update" value="true" />
		<add key="installOrg" value="false" />
		<add key="installNomeneclature" value="false" />
		<add key="updateStimulsoftTemplates" value="true" />
		 
		<add key="UserProfileEnabled" value="true" />
		<add key="PreviewRootPath" value="D:\PreviewTest" />
		<add key="UploadsFolder" value="D:\test\Uploads" />
		<add key="OnJobTextArea" value="Для работы" />
		<add key="EmptyDivValue" value=" " />
		<add key="sortByCode" value="false" />
		<add key="useTwoColumnComments" value="false" />
		<!--Параметр для обфускации того что документ открывается через ссылку-->
		<add key="IsLinkedDocument" value="fH3i49K" />
		<add key="useSignWithKey" value="false" />
		<add key="checkRequiredFields" value="true" />
		<add key="HiddenAdditionalAppointmentsInProjectHtml" value="true" />

		<add key="showCode" value="true" />
		<!--Параметр для отчёта, если true - брать резолюции, иначе брать поручения (например, для Самрука)-->
		<add key="IsResolutionForReport" value="false" />
		<!--Параметр для отчёта, если true - брать основного исполнителя, иначе брать получателей (например, для КазАгро)-->
		<add key="IsPerformerForReport" value="false" />
		

		<!--Максимальный размер файла для загрузки в байтах-->
		<add key="maxFileUploadSize" value="100000000" />
		
		<!--Ссылка на которую ведет логотип в шапке Dashboard.aspx-->
		<add key="logoUrl" value="/Dashboard.aspx" />
		
		<add key="ServiceSoylem" value="" />

		<add key="SharePointEnabled" value="false" />
		<add key="SharePointAddress" value="" />
		<add key="SharePointUser" value="" />
		<add key="SharePointPass" value="" />
		<!-- Временные флаги, регулирующие показ нового функционала TODO удалить после реализации -->
		<add key="ShowAdminPanel" value="false" />
		<!-- Stimulsoft rendered reports files cache config -->
		<!-- Minutes -->
		<add key="ReportsCacheExpiration" value="180" />
		<!-- Minutes -->
		<add key="PrintFormsCacheExpiration" value="1" />
		<add key="customProvider" value="true" />
		<add key="lyncServer" value="lync.ktzh.local" />
		<add key="scanVersion" value="2" />
		<add key="DocumentTransfer" value="true" />
		<!-- Отображать все или только некоторые столбцы в таблицах ОРД
				 Нужно для Самрука -->
		<add key="showInAdmGridAllColumns" value="true" />
		<!--кнопка Резервирование РегНомера -->
		<add key="showReserveRegNumber" value="false" />
		<!--Показывать или нет галочку для передачи прав на исходящий документ #TFS-268(204) используется только в OutgoingDocumentDetail.aspx.cs  -->
		<add key="showCheckboxAllowForPersonInDepartament" value="true" />
		<!--Определяем нужно или нет группировать по Дате исполнения в таблице контроля #TFS-272(208) используется только в DocumentMonitoringsView.aspx.cs  -->
		<add key="groupMonitoringByDate" value="false" />
		<!-- Значение этого поля указывает выводить или нет окно "Поставить на контроль?" пользователю TFS#203 -->
		<add key="checkRegistrationIsNeeded" value="false" />
		<!-- Скрываем или отображаем контейнер для Lync #157 -->
		<add key="lyncEnabled" value="true" />
		<!-- Вкладывать или нет вложения в пункты ОРД из ОРД TFS#214 -->
		<add key="addAttachmentFromParent" value="true" />
		<!-- Отображать или нет кнопку Перейти в #Dashboard.aspx -->
		<add key="showLinksBtn" value="true" />
		<!-- Отображать или нет кнопку перевести в #Workspace.aspx -->
		<add key="EnableSoylem" value="false" />
		<!-- Перебивать или нет пароли в ХЭШ, без понимания не трогать, безопасное значение = false -->
		<add key="hashUsersPasswords" value="false" />
		<add key="IsNeedHideFoldersForNonChancelleryUser" value="false" />
		
   		<!--Скрывать кнопку для создания Личных групп рассылок-->
		<add value="true" key="HiddenPersonalDistrGroupsButton"/>

		<!--Включает множественную загрузку.-->
		<add key="MultipleUpload" value="true" />

		<add key="hideSaveButtonInChargeWindow" value="false" />
		<add key="hideSaveButtonInOnJobButtonWindow" value="false" />
		<add key="hideLogoutButton" value="false" />
		<!--Используется общие документы-->
		<add key="useSharedDocument" value="true" />
		<!--Отключает проверку cookie файлов и их обновление -->
		<add key="disableCookieUpdateAndCheck" value="true" />
		<!--При создания задания "к сведению" документа (Вх, Вн.Вх, ОГ) с контролем "Для сведения", задание уходит из новых перемещается в работу  true/false-->
		<add key="taskInWorkWhenForInformation" value="false" />
		<!--Включает функцию ограничения количества поручений в ветре согласования true/false-->
		<add key="chargeLimitWhileAgreementEnabled" value="true" />
		<!--Устанавливает ограничение на количество поручений в ветре согласования 0...10-->
		<add key="chargeLimitWhileAgreementCount" value="6" />
		<!--Выдаёт список исполнителей по рангу в резолюциях и поручениях true/false-->
		<add key="isExecutorsByRank" value="false" />
		<!--Включение поддержку пунктов для входящих документов true/false-->
		<add key="itemsForIncomingDocsEnabled" value="true" />
		<!--Включение отображения кнопок Подписать/Проверить подпись true/false-->
		<add key="hideSignAndCheckSignButtons" value="true" />
		<!--Включение печати HTML через PDF true/false-->
		<add key="usePdfForHtmlPrint" value="false" />
		<!--Включение печати HTML через PDF true/false-->
		<add key="IsSigningStageEnable" value="true" />
		<!--Изменить просмотр документа, как при нажатии на кнопку печать true/false-->
		<add key="isShowPdfOnViewButtonClick" value="true" />
		<!--Путь до папки с WKHTML отвечающий за конвертацию HTML в PDF-->
		<add key="wkhtml" value="C:\\Program Files (x86)\\wkhtmltopdf\\wkhtmltopdf.exe" />
		<!--Включение блокировки кнопки "отказаться от рассмотрения" для Вн. Вх. документов, сконвертированных от СЗ true/false-->
		<add key="IsBlockRefuseBtnForIntIncomingDocsEnabled" value="false" />
		<!--Обновление заголовка страницы фирменным названием true/false-->
		<add key="IsNeedToSetTitle" value="false" />
		<!--Управляет показом кнопки "Подписать без ЭЦП" true/false-->
		<add key="IsNeedToHideSignWithoutDigitalSignatureBtn" value="false" />
		<!--Диапазон годов, отображаемых в архиве-->
		<add key="ArchiveYears" value="2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015" />
		<add key="BlankNumberFormat" value="00000" />
		<add key="Archive" value="true" />
		<add key="IsNeedDisplayTasksInScaningPanel" value="true" />
		<add key="HideAskingDocsInWorkBench" value="true" />
		<add key="HideProjectsDocsInWorkBench" value="true" />
		<add key="ShowAppointmentPersonInControl" value="true" />
		<add key="ResolutionHidden" value="true" />
		<add key="AllowSignerAndAgreementPersonChange" value="true" />
		<add key="hideNotifications" value="false" />
		<add key="EnableVerbalInstructions" value="true" />
		<add key="EnableEditRegistrationDateAndRegistrator" value="true" />
		<add key="IsCollapsedTasksInScaningPanel" value="true" />
		<!--Отключает кнопку Согласовать без замечаний и показывает окно согласовать с замечаниями,если пусто поле замечание, то согласовывает без замечаний-->
		<add key="IsJoinAgreeButton" value="true" />
		<!--Отключает кнопку Подписать и показывает окно подписать с замечаниями,если пусто поле замечание, то подписывает без замечаний-->
		<add key="IsJoinSignButton" value="false" />
		<add key="MenuItemTaskInDocflowView" value="true" />
		<add key="EnableExternalExecutorInChargeWindows" value="false" />
		<add key="EnableReadersForNoteInChargeWindows" value="true" />
		<add key="HiddenExternalRecipients" value="true" />
		<add key="EnableIncomingDocumentsExecutionControl" value="true" />
		<add key="UseIolaCSP" value="false" />
		<!--Определяет использование Проверки сертификатов через OCSP-->
		<add key="UseOCSP" value="true" />
		<!--Устанавливает адрес Удостоверяющего Центра для проверки сертификатов-->
		<add key="OCSPUrl" value="http://pki.ekey.kz:30579/" />
		<add key="ForDirectionForInformationButtonHidden" value="true" />
		<add key="ForDirectionAgreeButtonHidden" value="false" />
		<add key="UseMixedSignInProjectOutgoing" value="true" />
		<add key="AdministrativItemsInMainMenu" value="E62682FC-5225-4346-A9CB-8418BD075693" />
		<add key="isNeedReportForInformationExecution" value="true" />
		<!--Определяет использовать ли подписание с помощью Gamma в проектах исходящих внешних, если включается данный флаг то флаг UseIolaCSP должен быть отключен -->
		<add key="UseGammaCSP" value="true" />
		<!--Адрес УЦ Гамма-->
		<add key="OCSPUrlGamma" value="http://ca.gamma.kz:62301" />
		<!--Использовать ли подписание с ЭЦП для внутренних документов(ОРД)-->
		<add key="UseExternalSignForInternalDocs" value="true" />
		<!--Показывать список заданий в отдельном окне J31.13-->
		<add key="ShowTaskInWindow" value="true" />
		<!--Показывать список поручений в отдельном окне-->
		<add key="ShowChargesInWindow" value="true" />
		<add key="EnableCoordinationFromTheHead" value="true" />
		<add key="IsSendNotificationForContractChecker" value="true" />
		<!--Сделать неактивной кнопку отправить в проектах для всех пользователей, кроме Админа.-->
    		<add key="EnabledSendButton" value="true" />
    <!--Выбор вида подписания из Enum типа SignProviderType-->
    <add key="SignType" value="CryptoLeader" />
	<!--Адрес для проверки подписей КриптоЛидер-->
    <add key="CryptoLeaderUrl" value="http://10.100.4.228:1345/" />
<add key="NomenclatureRequireInFulfilledWindow" value="false" />
	</appSettings>
	<connectionStrings>
		<add name="ADConnectionString" connectionString="LDAP://dtech.test.kz/DC=dtech,DC=test,DC=kz" />
	</connectionStrings>
  <extnet theme="Slate" scriptMode="Release" sourceFormatting="false" directMethodNamespace="DT.Everest.DocFlow" disableViewState="true" />
	<location path="extjs">
		<system.web>
			<authorization>
				<allow users="?" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="coolite">
		<system.web>
			<authorization>
				<allow users="?" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="extnet">
		<system.web>
			<authorization>
				<allow users="?" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ext.axd">
		<system.web>
			<authorization>
				<allow users="?" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="WebServices/UploadService.asmx">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Forms/ViewDocumentAttachments.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Upload.aspx">
    <system.web>
      <httpRuntime maxRequestLength="102400" executionTimeout="3600" />
    </system.web>
  </location>
	<system.web>
    <globalization culture="en-US" requestEncoding="utf-8" responseEncoding="utf-8" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Stimulsoft.Report.WebDesign, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Stimulsoft.Report, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
				<add assembly="Stimulsoft.Report.Web, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
				<add assembly="Stimulsoft.Base, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
				<add assembly="Stimulsoft.Report.WebDesignSL, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" /></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<machineKey validationKey="A2C85DE54F666613303A85D6A60054A162F8E13872A02425A6777CC6DF846B331910E41FAA14AC0143B7B210C1BB7F4771EA505789FFCCF82CA2979C7D703C9F" decryptionKey="E9A779720E2BB021F62493655104BCDDED6759931DC8B90617BAE586C12E3085" validation="SHA1" decryption="AES" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<membership defaultProvider="FNHProvider" userIsOnlineTimeWindow="10">
			<providers>
				<add name="FNHProvider" type="DT.Everest.Security.Membership.FNHMembershipProvider,DT.Everest.Security" connectionStringName="ConnectStrNL" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Clear" applicationName="FNHApplication" writeExceptionsToEventLog="false" maxInvalidPasswordAttempts="100" />
			</providers>
		</membership>
		<!--<membership defaultProvider="MembershipADProvider">
      <providers>
        <add name="MembershipADProvider"
           type="System.Web.Security.ActiveDirectoryMembershipProvider, 
                   System.Web, Version=2.0.0.0, Culture=neutral, 
                   PublicKeyToken=b03f5f7f11d50a3a"
           connectionStringName="ADConnectionString"
                  connectionUsername="DTCH\Administrator"
                  connectionPassword="vata1517~"
           attributeMapUsername="sAMAccountName" />
      </providers>
    </membership>-->
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="~/Logon.aspx" timeout="2880" />
		</authentication>
		<!--<authentication mode="Windows">
    </authentication>-->
		<authorization>
			<deny users="?" />
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
			<controls>
				<add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net" />
				<add tagPrefix="docflow" namespace="DT.Everest.DocFlow.Web.Controls" assembly="DT.Everest.DocFlow.Web.Controls" />
				<add tagPrefix="report" namespace="Stimulsoft.Report.Web" assembly="Stimulsoft.Report.Web" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      <add path="*/WebResource.axd" verb="*" type="System.Web.Handlers.AssemblyResourceLoader" validate="false" />
<add path="*.js.jxd" verb="*" type="DT.Everest.DocFlow.Web.Explorer.Handlers.ScriptTranslator" />
		</httpHandlers>
		<httpModules>
			<add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
			<add name="DatabaseStorageWebModule" type="DT.Everest.Database.DatabaseStorageWebModule, DT.Everest.Database, Version=1.0.0.0, Culture=neutral" />
		</httpModules>
		<httpRuntime maxRequestLength="102400" executionTimeout="3600" maxQueryStringLength="80000" requestValidationMode="2.0" />
      <webServices>
        <protocols>
          <add name="HttpPost" />
          <add name="HttpGet" />
        </protocols>
      </webServices>
    <trace enabled="true" requestLimit="400" localOnly="false" />

    <healthMonitoring enabled="true">
      <eventMappings>
        <add name="MyEvent" type="DT.Everest.Utilities.ApplicationStartErrorEvent, DT.Everest.Utilities, Version=1.0.0.0, Culture=neutral" startEventCode="0" endEventCode="10000" />
      </eventMappings>

      <bufferModes>
        <add name="MyBuffer" maxBufferSize="100" maxFlushSize="50" maxBufferThreads="1" regularFlushInterval="00:10:00" urgentFlushInterval="00:01:00" urgentFlushThreshold="10" />
      </bufferModes>

      <providers>
        <add name="MyProvider" type="System.Web.Management.SimpleMailWebEventProvider" from="ankai@list.ru" to="d.urazalinov@gmail.com" bodyHeader="Warning!" bodyFooter="Please investigate ASAP." subjectPrefix="Action required." buffer="true" bufferMode="MyBuffer" maxEventLength="4096" maxMessagesPerNotification="1" />
      </providers>

      <rules>
        <add name="MyRule" eventName="MyEvent" provider="MyProvider" />
      </rules>
    </healthMonitoring>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
		</modules>
		<handlers>
            <add name="Script for translate" path="*.jxd" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
			<add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
		</handlers>
		<httpRedirect enabled="false" />
		<security>
			<requestFiltering>
				<!-- maxAllowedContentLength увеличивает размер вкладываемого файла,  при фильтрации запроса-->
				<requestLimits maxQueryString="1000000" maxAllowedContentLength="104857600" maxUrl="1000000" />
			</requestFiltering>
		</security>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.34.0" newVersion="4.0.34.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
