<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>

  <system.net>
    <mailSettings>
      <smtp from="ankai@list.ru">
        <network host="smtp.list.ru" password="***" userName="ankai@list.ru" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>

    <add key="export" value="false" />
    <add key="installData" value="false" />
    <add key="nameData" value="TTK" />
    <add key="update" value="true" />

    <add key="installOrg" value="false" />
    <add key="installNomeneclature" value="false" />
    <add key="updateStimulsoftTemplates" value="false" />
    <add key="UserProfileEnabled" value="true" />

    <!--Максимальный размер файла для загрузки в байтах-->
    <add key="maxFileUploadSize" value="100000000" />

    <add key="EnableSoylem" value="true" />
    <add key="ServiceSoylem" value="http://10.75.2.73:8080//WebServiceSoylem.asmx" />
    <add key="UploadsFolder" value="C:\Work\Uploads" />
    <add key="PreviewRootPath" value="C:\Work\Preview" />
    <add key="OnJobTextArea" value="Для работы" />
    <add key="SharePointEnabled" value="false" />
    <add key="SharePointAddress" value="http://dt-pluto/sites/test2/" />
    <add key="SharePointUser" value="dtech\developer" />
    <add key="SharePointPass" value="dawnreader" />
    <!-- Временные флаги, регулирующие показ нового функционала TODO удалить после реализации -->
    <add key="ShowAdminPanel" value="false" />
    <!-- Stimulsoft rendered reports files cache config -->
    <!-- Minutes -->
    <add key="ReportsCacheExpiration" value="180" />
    <!-- Minutes -->
    <add key="PrintFormsCacheExpiration" value="1" />
    <add key="customProvider" value="true" />
    <!-- Сортировать справочники по коду или по названию -->
    <add key="sortByCode" value="true" />
    <add key="showCode" value="true" />
    <!--Параметр для отчёта, если true - брать резолюции, иначе брать поручения (например, для Самрука)-->
    <add key="IsResolutionForReport" value="false" />
    <!--Ссылка на которую ведет логотип в шапке Dashboard.aspx-->
    <add key="logoUrl" value="/Dashboard.aspx" />
    <!--Параметр для обфускации того что документ открывается через ссылку-->
    <add key="IsLinkedDocument" value="fH3i49K" />
    <!--Включение печати HTML через PDF true/false-->
    <add key="usePdfForHtmlPrint" value="false" />
    <!-- Отображать все или только некоторые столбцы в таблицах ОРД
		     Нужно для Самрука -->
    <add key="showInAdmGridAllColumns" value="false" />

    <!--Для писем пришедших по ЦОДу, дату регистраиции ставить дату на момент регистрации-->
    <add key="SetRegistrationDateNow" value="false" />

    <!--Отображение дерева заданий во вкладке Содержимое-->
    <add key="IsNeedDisplayTasksInScaningPanel" value="false" />

    <!--Функция создания доверенности-->
    <add key="WarrantEnabled" value="false" />

    <!--Функция продолжения этапа согласования после отказа-->
    <add key="ContinueAgreementAfterRefuse" value="true" />

    <!--Не показывать контрол внутренние получатели во внешнем исходящем документе-->
    <add key="HideInternalRecipientsInOutgoingDocument" value="true" />

    <!--Не показывать персональные папки-->
    <add key="HidePersonFolders" value="false" />

    <!--Отображать или нет этап подписании в согласовании true/false-->
    <add key="IsSigningStageEnable" value="true" />

    <!--Не писать в сгенерированом файле в проектах замещающих  -->
    <add key="HiddenAdditionalAppointmentsInProjectHtml" value="true" />

    <!-- отображать или нет личные папки -->
    <add key="enablePrivateFolders" value="true" />

    <!-- Использоватеь  или нет двухколоночный комментарий в Согласовании с замечаниями, #Workbench.aspx-->
    <add key="useTwoColumnComments" value="false" />

    <!-- Вкладывать или нет вложения в пункты ОРД из ОРД TFS#214 -->
    <add key="addAttachmentFromParent" value="true" />

    <!--Показывать в pdf-ке при нажатии на кнопку "Просмотри" и при этом убирается кнопка "Печать", сделано для КазАгро-->
    <add key="isShowPdfOnViewButtonClick" value="false" />

    <!--искать по началу слова, либо вхождению, типа query% если false, типа %query% если true, используется в хэндлере для словаря-->
    <add key="searchQueryTwoSides" value="true" />
    <add key="showLinksBtn" value="true" />

    <!-- Показывать ли в РО номер исходящего документа -->
    <add key="ShowOutgoingNumber" value="false" />
    <!-- Включены отчеты по ролям -->
    <add key="EnableReportsByRole" value="false" />
    <!--кнопка Резервирование РегНомера -->
    <add key="showReserveRegNumber" value="false" />
    <!--Показывать или нет галочку для передачи прав на исходящий документ #TFS-268(204) используется только в OutgoingDocumentDetail.aspx.cs  -->
    <add key="showCheckboxAllowForPersonInDepartament" value="true" />
    <!--Параметр для отчёта, если true - из поля Текущий исполнитель, иначе брать получателей (например, для ПП)-->
    <add key="IsExecutionForReport" value="false" />
    <!-- Параметр для отчета, Сортировать по отправителю-->
    <add key="SortBySender" value="false"/>
    <!--Параметр для отчёта, использовать Текущего исполнителя, иначе получателей-->
    <add key="IsExecutionForReport" value="false"/>
    <!--Параметр для отчета, когда срок исполнения менее 7 дней, писать со знаком - -->
    <add key="IsForthcomingDeadline" value="false"/>
    
    <!--Определяем нужно или нет группировать по Дате исполнения в таблице контроля #TFS-272(208) используется только в DocumentMonitoringsView.aspx.cs  -->
    <add key="groupMonitoringByDate" value="false" />
    <!-- Значение этого поля указывает выводить или нет окно "Поставить на контроль?" пользователю TFS#203 -->
    <add key="checkRegistrationIsNeeded" value="false" />
    <!-- Скрываем или отображаем контейнер для Lync #157 -->
    <add key="lyncEnabled" value="false" />
    <add key="lyncServer" value="" />
    <!--Включает функцию ограничения количества поручений в ветре согласования true/false-->
    <add key="chargeLimitWhileAgreementEnabled" value="false" />
    <!--Устанавливает ограничение на количество поручений в ветке согласования 0...10-->
    <add key="chargeLimitWhileAgreementCount" value="5" />
    <!--Выдаёт список исполнителей по рангу в резолюциях и поручениях true/false-->
    <add key="isExecutorsByRank" value="false" />
    <!--Определяет, нужно ли создавать отчёт об исполнении при приянтии к сведению, для красивой отрисовки дерева заданий true/false-->
    <add key="isNeedReportForInformationExecution" value="true" />
    <!--Не показывает кнопку Сохранить в окне поручений-->
    <add key="hideSaveButtonInChargeWindow" value="false" />
    <add key="ShowColumnCreateDateTasks" value="false" />
    <add key="BlankNumberFormat" value="000000" />
    <add key="ChargeAndResolutionExecutionDateFromDocumnet" value="false" />
    <!--Определяет использование подписания с Iola(SoftKey)-->
    <add key="UseIolaCSP" value="false" />
    <!--Определяет использование Проверки сертификатов через OCSP-->
    <add key="UseOCSP" value="true" />
    <!--Устанавливает адрес Удостоверяющего Центра для проверки сертификатов-->
    <add key="OCSPUrl" value="http://ca.gamma.kz:62301" />
    <!--Адрес для проверки подписей КриптоЛидер-->
    <add key="CryptoLeaderUrl" value="http://cryl.digiflow.kz:1345/" />
    <!--Определяет показывать ли CheckBox в Администрирование Вид ОРД()-->
    <add key="UseWithoutDomain" value="false" />
    <!--Определяет получать уведомления  об отказе в рассмотрение Исходящего документа -->
    <add key="IsRecieveRefuseNotificationFromOrg" value="false" />
    <!--Определяет отсылать уведомления  об отказе в рассмотрение Входящего документа -->
    <add key="IsSendRefuseNotificationToOrg" value="false" />
    <!--Использовать домены для ОРД-->
    <add key="DomainsEnabled" value="false" />
    <!--Регулирует показ Папки Обращение Граждан в ДО-->
    <add key="HideAskingDocsInWorkBench" value="false" />
    <!--Регулирует показ Папки Проектные документы в ДО-->
    <add key="HideProjectsDocsInWorkBench" value="false" />
    <!--Флаг для ТТК показывать возле ФИО человека должность(обычно показывает департамент)-->
    <add key="ShowAppointmentPersonInControl" value="false" />
    <!--Флаг для Самрука, удалять ли Project во вложениях, после регистрации Внеш. Исходящего -->
    <add key="IsAddAttachmentForProject" value="false" />
    <!--Флаг для КТЖ, после регистрации дата регистрации=дата подписания проекта, если заполнено поле "ответ на обращение" для Внеш. Исходящего-->
    <add key="IsSigningDateProject" value="false" />

    <!--Показывать список поручений в отдельном окне-->
    <add key="ShowChargesInWindow" value="true" />

    <add key="IsUsersDocumentsInFulfilledWindow" value="false" />
    <!-- Ветка "на контроль", задание с типом "на контроле" Task undefined, J0710.13-->
    <add key="EnableOnControlAction" value="false" />

    <add key="NoCheckboxesInGrids" value="true" />
    <!-- Включена ли функция отображения устных поручений. CN J1130.13 Verbal Instructions Hot January Days-->
    <add key="EnableVerbalInstructions" value="false" />

    <!--Advanced Monitoring Prolongation Window Включить продвинутую логику для снятия/продления с контроля, не подходит для Самрука, требуется доработка требований J22.13-->
    <add key="AdvancedProlongationWindow" value="false" />
    <!--Не генерировать сопроводительное письмо после регистрации проекта внеш. исходящего-->
    <add key="NotAddMainAttachmtentToOutgoingProject" value="true" />
    <!--Использовать домены для Обращений-->
    <add key="AskDomainsEnabled" value="false" />
    <!--Показывать список заданий в отдельном окне J31.13-->
    <add key="ShowTaskInWindow" value="true" />
    <!--По входящим документам, когда руководитель делает поручение для пользователей, чтобы они возвращались к нему же, для того, чтобы руководитель смог проконтролировать, правильно ли исполнено задание. M5.13-->
    <add key="EnableIncomingDocumentsExecutionControl" value="false" />
    <!--Включено ли анкетирование-->
    <add key="SurveyEnabled" value="true" />
    <add key="CheckDocumentItemsExecution" value="true" />
    <!--Параметр для отчёта, если true - брать отчет об исполнении, иначе резолюцию (например, для Самрука)-->
    <add key="IsExecutorOrResolutionForReport" value="true" />
    <!--Включает множественную загрузку.-->
    <add key="MultipleUpload" value="true" />

    <!--В ДО, для кнопки "Создать" в контекстном меню необходимо добавить пункт "Задание" (аналогично как это реализовано в РО, для кнопки  Создать)-->
    <add key="MenuItemTaskInDocflowView" value="false" />
    <!--Отключает кнопку Согласовать без замечаний и показывает окно согласовать с замечаниями,если пусто поле замечание, то согласовывает без замечаний-->
    <add key="IsJoinAgreeButton" value="false" />
    <!--Отключает кнопку Подписать и показывает окно подписать с замечаниями,если пусто поле замечание, то подписывает без замечаний-->
    <add key="IsJoinSignButton" value="false" />
    <add key="useSignWithKey" value="false" />
    <!--Выбор вида подписания из Enum типа SignProviderType-->
    <add key="SignType" value="CryptoLeader" />
    <!--Определяет использовать ли смешанное подписание(Подписать без ЭЦП и подписать с ЭЦП(Ekey.kz)) в проектах исходящих внешних-->
    <add key="UseMixedSignInProjectOutgoing" value="false" />
    <!--Определяет использовать ли подписание с помощью Gamma в проектах исходящих внешних, если включается данный флаг то флаг UseIolaCSP должен быть отключен -->
    <add key="UseGammaCSP" value="true" />
    <!--Адрес УЦ Гамма-->
    <add key="OCSPUrlGamma" value="http://ca.gamma.kz:62301" />
    <!--Использовать ли подписание с ЭЦП для внутренних документов(ОРД)-->
    <add key="UseExternalSignForInternalDocs" value="false" />
    <add key="EnableCoordinationFromTheHead" value="false" />
    <add key="EnableCoordinationFromTheHeadInExecutionCard" value="true" />
    <!--<add key="RegistrationNumberProvider" value="DT.Everest.DocFlow.Application.PpFilialRegistrationNumberProvider"/>-->
    <!--Использовать новый порядок сортировки в заданиях-->
    <add key="IsNewSortingInTaskPanel" value="false" />
    <!--Включает отправку уведомлений о подписание договора, людям в оргструктуре у которых есть галочка контроль договоров-->
    <add key="IsSendNotificationForContractChecker" value="false" />
    <!--Флаг для Самрука: включает папки 2011,2012 для Самрука-->
    <add key="ShowPreviousYearsApart" value="true" />
    <!--Включает показ документов за прошлый год в другом гриде-->
    <add key="LastYearDocumentsGridEnabled" value="true" />
    <!--Настройка возможности изменения обязательности полей-->
    <add key="CheckRequiredFields" value="false" />
    <add key="UseSingleSigning" value="false" />
    <!--Включает доступность кнопок в РО при открытии документа по ссылке, TFS# 791, исполнитель Артём.-->
    <add key="IsAllowedButtonsForDocumentsViaUrl" value="false" />

    <add key="EnableOutgoingItems" value="true" />
    <add key="EnableExternalExecutorInChargeWindows" value="true" />
    <add key="FulfilledWindowAttentionMessageEnabled" value="true" />
    <!--Параметр для отчёта, если true - из поля ответ на данный документ, иначе ответ на исходящий (например, для Самрука)-->
    <add key="IsOwnerForReport" value="true" />
    <!--Показывать должность замещающего при включенном замещении. Например, пользователь Б замещает пользователя А.
				В списке пользователей пользователь Б должен отображаться как: Б (замещение А, должность).
				Испольнитель Артём. 29.08.2014-->
    <add key="ShowPositionOfSubstitutedUser" value="false" />
    <!--Текст, который отображается рядом с фамилией замещаемого, например, замещение, И.о. или любой другой.
				Испольнитель Артём. 29.08.2014-->
    <add key="TextOfSubstitutedUser" value="И. О." />

    <!--Передавать право подписи к замещающему, если у него таковой не имеется.
				Испольнитель Артём. 29.08.2014-->
    <add key="SendSignRightToSubstitutedUser" value="false" />

    <!--Передавать обратно к замещаемому все документы вне зависимости от статуса.
				Испольнитель Артём. 02.09.2014-->
    <add key="SendBackAllDocuments" value="false" />

    <!--Включает возможность использовать механизм передачи документов при увольнения сотрудника-->
    <add key="DocumentTransfer" value="false" />

    <add key="Archive" value="false" />
    <add key="ArchiveYears" value="2011,2012,2013,2014,2015" />
    <add key="AllowSignerAndAgreementPersonChange" value="false" />
    <!--Отключает проверку cookie файлов и их обновление -->
    <add key="DisableCookieUpdateAndCheck" value="false" />
    <add key="EnableEditRegistrationDateAndRegistrator" value="false" />
    <add key="ForDirectionAgreeButtonHidden" value="false" />
    <add key="ForDirectionForInformationButtonHidden" value="false" />
    <!-- Перебивать или нет пароли в ХЭШ, без понимания не трогать, безопасное значение = false -->
    <add key="hashUsersPasswords" value="false" />
    <add key="HiddenExternalRecipients" value="false" />
    <add key="hideLogoutButton" value="false" />
    <add key="hideNotifications" value="false" />
    <add key="hideSaveButtonInOnJobButtonWindow" value="false" />
    <!--Скрытие отображения кнопок Подписать/Проверить подпись true/false-->
    <add key="hideSignAndCheckSignButtons" value="false" />
    <!--Включение блокировки кнопки "отказаться от рассмотрения" для Вн. Вх. документов, сконвертированных от СЗ true/false-->
    <add key="IsBlockRefuseBtnForIntIncomingDocsEnabled" value="false" />
    <add key="IsCollapsedTasksInScaningPanel" value="false" />
    <add key="IsNeedHideFoldersForNonChancelleryUser" value="false" />
    <!--Управляет показом кнопки "Подписать без ЭЦП" true/false-->
    <add key="IsNeedToHideSignWithoutDigitalSignatureBtn" value="true" />
    <!--Обновление заголовка страницы фирменным названием true/false-->
    <add key="IsNeedToSetTitle" value="false" />
    <!--Параметр для отчёта, если true - брать основного исполнителя, иначе брать получателей (например, для КазАгро)-->
    <add key="IsPerformerForReport" value="false" />
    <!--Включение поддержку пунктов для входящих документов true/false-->
    <add key="itemsForIncomingDocsEnabled" value="false" />
    <add key="ResolutionHidden" value="false" />
    <!--Определяем версию для сканера 1 - старая через ActiveX; 2 - новая через ScanerAgent-->
    <add key="scanVersion" value="1" />
    <!--При создания задания "к сведению" документа (Вх, Вн.Вх, ОГ) с контролем "Для сведения", задание уходит из новых перемещается в работу  true/false-->
    <add key="taskInWorkWhenForInformation" value="false" />
    <!--Путь до папки с WKHTML отвечающий за конвертацию HTML в PDF-->
    <add key="wkhtml" value="C:\\Program Files (x86)\\wkhtmltopdf\\wkhtmltopdf.exe" />
    <!--Шаблоны ОРД вынесенные из подменю в меню guid через ','-->
    <add key="AdministrativItemsInMainMenu" value="" />
    <!--Исключаемые из возможности выбора провайдеры подписания-->
    <add key="ExceptSignTypes" value="Iola, NcaEds, Capicom" />
    <!--Обязательность поля номенклатуры в окне выполнения-->
    <add key="NomenclatureRequireInFulfilledWindow" value="false" />

    <add key="LinksInHeader"
         value="http://bz/|База знаний;http://corpportal/default.aspx|Портал;http://hcmprtprdint.intranet.s-k.kz:50000/irj/portal|Сервисы самооблуживания HR;https://portal.sk.kz/|Единый Портал Фонда" />
    <!--<add key="RegistrationNumberProvider" value="DT.Everest.DocFlow.Application.AgRegistrationNumberProvider"/>-->
    <!--Отображать ли количество документов в папках только по запросу пользователя-->
    <add value="false" key="docCountsOnDemandOnly"/>
    <!--По входящим документам, когда руководитель делает поручение для пользователей, чтобы они возвращались к нему же, для того, чтобы руководитель смог проконтролировать, правильно ли исполнено задание. M5.13-->
    <add value="false" key="EnableDocumentsExecutionControl"/>
    <!--Включен ли мост FTR Service для OCR-->
    <add value="false" key="EnableFTRBridgeService"/>
    <!--Не показывает вкладку ЦОД-->
    <add value="false" key="HideDecTab"/>
    <add value="false" key="IsNoteForReport"/>
    <!--Определяет, хранить ли ACL в разных таблицах для разных типов документов true/false-->
    <add value="false" key="PartitionAcl"/>
    <!--Скрывать кнопку для создания Личных групп рассылок-->
    <add value="true" key="HiddenPersonalDistrGroupsButton"/>
	<!--Окончание для названий библиотек документов и для списков. Это влияет на производительность. При изменений названия создается новый список и новая библиотека документов.-->
    <add value="true" key="SharepointLibrabryAndListSuffix"/>
  </appSettings>
  <connectionStrings>
    <add name="ADConnectionString" connectionString="LDAP://dtech.test.kz/DC=dtech,DC=test,DC=kz" />
  </connectionStrings>
  <extnet theme="Slate" scriptMode="Debug" sourceFormatting="true" directMethodNamespace="DT.Everest.DocFlow"
          disableViewState="true" />
  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="coolite">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="extnet">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ext.axd">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebServices/UploadService.asmx">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Forms/ViewDocumentAttachments.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Upload.aspx">
    <system.web>
      <httpRuntime maxRequestLength="2151" executionTimeout="300" />
    </system.web>
  </location>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add
          assembly="Stimulsoft.Report.WebDesign, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Stimulsoft.Report, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report.Web, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Base, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add
          assembly="Stimulsoft.Report.WebDesignSL, Version=2010.2.800.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <machineKey
      validationKey="A2C85DE54F666613303A85D6A60054A162F8E13872A02425A6777CC6DF846B331910E41FAA14AC0143B7B210C1BB7F4771EA505789FFCCF82CA2979C7D703C9F"
      decryptionKey="E9A779720E2BB021F62493655104BCDDED6759931DC8B90617BAE586C12E3085" validation="SHA1"
      decryption="AES" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <membership defaultProvider="FNHProvider" userIsOnlineTimeWindow="10">
      <providers>
        <add name="FNHProvider" type="DT.Everest.Security.Membership.FNHMembershipProvider,DT.Everest.Security"
             connectionStringName="ConnectStrNL" enablePasswordRetrieval="true" enablePasswordReset="true"
             requiresQuestionAndAnswer="true" passwordFormat="Clear" applicationName="FNHApplication"
             writeExceptionsToEventLog="false" maxInvalidPasswordAttempts="100" />
      </providers>
    </membership>
    <!--<membership defaultProvider="MembershipADProvider">
      <providers>
        <add name="MembershipADProvider"
           type="System.Web.Security.ActiveDirectoryMembershipProvider, 
                   System.Web, Version=2.0.0.0, Culture=neutral, 
                   PublicKeyToken=b03f5f7f11d50a3a"
           connectionStringName="ADConnectionString"
                  connectionUsername="DTCH\Administrator"
                  connectionPassword="vata1517~"
           attributeMapUsername="sAMAccountName" />
      </providers>
    </membership>-->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->

    <authentication mode="Forms">
      <forms loginUrl="~/Logon.aspx" timeout="720" />
    </authentication>

    <!--<authentication mode="Windows"/>-->
    <authorization>
      <deny users="?" />
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net" />
        <add tagPrefix="docflow" namespace="DT.Everest.DocFlow.Web.Controls" assembly="DT.Everest.DocFlow.Web.Controls" />
        <add tagPrefix="report" namespace="Stimulsoft.Report.Web" assembly="Stimulsoft.Report.Web" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="*.js.jxd" verb="*" type="DT.Everest.DocFlow.Web.Explorer.Handlers.ScriptTranslator" />
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      <add path="*/WebResource.axd" verb="*" type="System.Web.Handlers.AssemblyResourceLoader" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <add name="DatabaseStorageWebModule"
           type="DT.Everest.Database.DatabaseStorageWebModule, DT.Everest.Database, Version=1.0.0.0, Culture=neutral" />
    </httpModules>
    <httpRuntime enable="true" maxRequestLength="1048576" executionTimeout="9600" maxWaitChangeNotification="1200"
                 requestLengthDiskThreshold="1024" maxQueryStringLength="80000" requestValidationMode="2.0" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <trace enabled="true" requestLimit="400" localOnly="false" />
    <healthMonitoring enabled="true">
      <eventMappings>
        <add name="MyEvent"
             type="DT.Everest.Utilities.ApplicationStartErrorEvent, DT.Everest.Utilities, Version=1.0.0.0, Culture=neutral"
             startEventCode="0" endEventCode="10000" />
      </eventMappings>
      <bufferModes>
        <add name="MyBuffer" maxBufferSize="100" maxFlushSize="50" maxBufferThreads="1" regularFlushInterval="00:10:00"
             urgentFlushInterval="00:01:00" urgentFlushThreshold="10" />
      </bufferModes>
      <providers>
        <add name="MyProvider" type="System.Web.Management.SimpleMailWebEventProvider" from="ankai@list.ru"
             to="d.urazalinov@gmail.com" bodyHeader="Warning!" bodyFooter="Please investigate ASAP."
             subjectPrefix="Action required." buffer="true" bufferMode="MyBuffer" maxEventLength="4096"
             maxMessagesPerNotification="1" />
      </providers>
      <rules>
        <add name="MyRule" eventName="MyEvent" provider="MyProvider" />
      </rules>
    </healthMonitoring>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <add name="DatabaseStorageWebModule"
           type="DT.Everest.Database.DatabaseStorageWebModule, DT.Everest.Database, Version=1.0.0.0, Culture=neutral" />
    </modules>
    <handlers>
      <add name="JavaScriptTranslate" path="*.js.jxd" verb="*"
           type="DT.Everest.DocFlow.Web.Explorer.Handlers.ScriptTranslator" />
      <add name="Script to translate" path="*.jxd" verb="*" modules="IsapiModule"
           scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"
           resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode"
           type="Ext.Net.ResourceHandler" />
    </handlers>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength увеличивает размер вкладываемого файла,  при фильтрации запроса-->
        <requestLimits maxQueryString="1000000" maxAllowedContentLength="1073741824" maxUrl="1000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.34.0" newVersion="4.0.34.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>